@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #fff;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: #f8f8f8;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #333;
  border-radius: 4px;

}
.todo-input::placeholder {
  color: #aaa;
}
.todo-btn {
  background: palevioletred;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}
.todo-btn:hover {
  background: #ff99aa;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: palevioletred;
  color: black;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: white;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 